.header {
    background-color: #2a668f;
    color: #fff;
}

.header__heading{
    padding-top: 3rem;
}

.header__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 25rem;
}

.header__description {
    padding-bottom: 3rem;
}